*byebug*
cscope.*
filenametags
.DS_Store
obj*
*.o
*.a
tags
*github.com
*go4.org
*golang.org*
*node_modules*
*gopkg.in*
.rb.tags
.js.tags
.lock-waf*
.waf*
build
.*.sw*
*~
GPATH
GRTAGS
GTAGS
GSYMS
TAGS
ID
*.pyc
pdebug.*
*.tar.gz
log.html
report.html
output.xml
robot.iml
deployment.plan
*.patch
terraform.tfstate*
tags
*.out
